@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --button: #be2e27;
  --font: "Outfit", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fef6f4;
    --foreground: #1d1d1d;
    --font: "Outfit", sans-serif;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  margin-top: 12vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

 h1 {
    font-size:40px ;
    font-family: var(--font);
    font-weight: bold;
  }

  p {
    font-weight: 300;
  }

  a {
    font-size: 14px;
  }

a {
  font-family:  "Outfit", sans-serif;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

:focus-visible {
   outline: 3px dashed  rgb(60, 60, 60);
  border-radius: 15px;
}
button:focus {
  outline: none;
}
button:focus-visible {
   outline: 3px dashed  rgb(60, 60, 60);
  border-radius: 15px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
