/* ? Annimation */
.container-about {
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.container-about > section {
  display: flex;
  gap: 1.5rem;
  margin-top: 10em;
  flex-direction: column;
  width: 100%;
  text-align: center;
  & h2 {
    font-family: var(--font);
    font-weight: bold;
    font-size: 20px;
     & span {
      display: block;
    }
  }
  & p {
    font-family: var(--font);
    font-size: 12px;
    max-width: 90%;
    margin: 0 auto;
  }
  & picture {
    width: 80%;
    height: 12rem;
    background-color: rgb(204, 204, 204);
    margin: 0 auto;
    border-radius: 15px;
  }
  & div {
    display: flex;
  }
  & a {
    cursor: pointer;
    align-content: center;
    padding: 5px;
    width: 7rem;
    max-height: 3em;
    background-color: var(--button);
    color: white;
    font-family: var(--font);
    font-weight: bold;
    border-radius: 20px;
    border: none;
    margin: 2% auto;
  }
}

.container-about > h2 {
  margin-top: 4vh;
  padding: 10px;
  font-family: var(--font);
  font-weight: bold;
}

.container-about > .container-team > .container-office {  
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% auto;
  & picture {
    width: 40%;
    height:40%;
    margin: 0 auto;
  }
  & img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  & figcaption {
    text-align: center;
    padding: 10px;
    & h3 {
      font-family: var(--font);
      font-weight: bold;
    }
    & p {
      font-family: var(--font);
    }
  }
}

/* ? CSS Team */

#info-render {
  font-family: var(--font);
  font-weight: 300;
  text-align: center;
  width: 100%;
  & a {
    font-size: 20px;
  }
  & span {
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
  }
}

/* ? CSS Partner */


.partner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  align-items: center;
  margin: 10% auto;
}

.partner-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  max-width: 90%;
  gap: 2rem;
}

.partner-item {
  width: 100px;
  height: 100px;
}

.style-line-about {
  z-index: -1;
    pointer-events: none;
    background-image: url(/images/line-about-mobile.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: absolute;
       top: 7%;
    left: 53%;
    transform: translateX(-50%);
}
/* ? Responsive Desktop */

@media screen and (min-width:450px) {
  .style-line-about {
  z-index: -1;
    background-image: url(/images/line-about-desktop.png);
    height: 100%;
    left: 50%;
  }
}

@media screen and (min-width: 600px) {
  /* ? CSS Partner */

.partner-container {
  justify-content: center;
  width: 100%;
  text-align: center;
}
.partner-item {
  width:150px;
  margin: 0 auto;
  height: 100px;
}
  }
  

@media screen and (min-width:900px ) {
  .container-about > section {
  width: 80%;
  margin: 10% auto;
  text-align: center;
  & h2 {
    font-size: 40px;
  }
  & p {
    font-size: 20px;
  }
  & picture {
    width: 80%;
    height: 30rem;
    background-color: rgb(204, 204, 204);
    margin: 0 auto;
    border-radius: 15px;
  }
  & div {
    display: flex;
    justify-content: center;
  }
  & a {
    display: block;
    font-size: 15px;
    min-width: 13rem;
    max-width: 15rem;
    height: 3.2em;
    margin: 3%;
    border: none;
  }
 & a:hover {
  border: solid 2px var(--button);
  background-color: #FED8D9; 
  color: black;
  }}

  .container-about > h2 {
  margin-top: 10%;
 text-align: center;
  font-size: 40px;
}

.container-about > .container-team {
  display: flex;
  margin: 5% auto;
  width: 70%;
}

.container-about > .container-team > .container-office {  
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% auto;
  & picture {
    width: 200px;
    height:200px;
    margin: 0 auto;
    & img {
      object-fit: cover;
    }
  }
  & figcaption {
    text-align: center;
    padding: 10px;
    & h3 {
      font-family: var(--font);
      font-weight: bold;
      font-size: 26px;
    }
    & p {
      font-family: var(--font);
      font-size: 20px;
    }
  }
}

.style-line-about {
  z-index: -1;
    background-image: url(/images/line-about-desktop.png);
    height: 100%;
    left: 30%;
    top: -22%;
  }
#info-render, span{
  font-size: 20px; 
}


/* ? CSS Partner */

.partner-container {
  justify-content: center;
  width: 80%;
  text-align: center;
  margin: 5% auto;
}
.partner-item {
  width: 15em;
  margin: 0 auto;
  height: 100px;
}
  }