.container-footer {
  position: relative;
  bottom: 0;
  display: flex;
  padding: 1rem;
  gap: 10px;
  width: 100%;
  background-color: #be2e27;
  align-items: center;
  margin-top: 6%;
  & img {
    position: absolute;
    z-index: 2;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  & p {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 12px;
    font-family: var(--font);
    font-weight: bold;
  }
}