/* ? Annimation */
.container-help {
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.container-help {
  text-align: center;
  & section:nth-of-type(-n+3) {
      height: 100vh;
    }
  & section:nth-of-type(4){
    height: 60vh;
  }
  & section {
    position: relative;
    scroll-margin-top: 150px; 
    & h2 {
      font-weight: 600;
      font-family: var(--font);
      margin: 10% auto;
    }
    & p {
      font-family: var(--font);
      margin: 5% auto;
      width: 90%;
      background-color: var(--background);
      text-align: center; 
    }
    & picture {
      display: block;
      width: 80%;
    height: 12rem;
    background-color: rgb(204, 204, 204);
    margin: 0 auto;
    border-radius: 15px;
    }
    & div {
      display: flex;
      flex-wrap: wrap;
    &  a {
    cursor: pointer;
    padding: 5px;
    align-content: center;
    width: 11rem;
    height: 3em;
    background-color: var(--button);
    color: white;
    font-family: var(--font);
    font-weight: bold;
    border-radius: 20px;
    border: none;
    margin: 2% auto;
  }
 & a:hover {
  border: solid 2px var(--button);
  background-color: #FED8D9; 
  color: black;
  }}
    }
  }

  .style-line-help {
  z-index: 0;
    pointer-events: none;
    background-image: url(/images/line-help.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1200px;
    height: 104%;
    position: absolute;
    top: -21px;
    left: 50%;
    transform: translateX(-50%);
}




/* ? Responsive Desktop */

@media screen and (min-width: 1000px) {
  .container-help > section {
   height: 100vh;
   scroll-margin-top: 150px; 
  }
  .container-help > section > p {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
    font-size: 20px;
  }
  .container-help > section > h2 {
    margin: 5% auto;
    font-size: 40px;
    font-weight: bold;
  }
  .container-help > section > div {
    display: flex;
    justify-content: center;
    margin-bottom: 15% ;
    & button {
      margin: 5% 5%;
        }
  }
  .container-help > section  { 
      & picture {
    width: 50%;
    height: 50vh;
    }
    & div {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      margin: 2% auto;
    &  a {
    cursor: pointer;
    padding: 5px;
    align-content: center;
    width: 12rem;
    height: 3em;
    background-color: var(--button);
    color: white;
    font-family: var(--font);
    font-weight: bold;
    border-radius: 20px;
    border: none;
    margin: 2% auto;
  }
}
  }
}
@media screen and (min-width: 1200px) {
  .style-line-help {
    left:50%;
    height: 100%;
    top: 3%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1550px) {
   .style-line-help {
    max-width: 100%;
    left: 55%;
    top:5%;
  }
}
