/* ? Annimation */
.container-help {
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.container-help {
  text-align: center;
  & section {
    & h2 {
      font-weight: 600;
      font-family: var(--font);
      margin: 10% auto;
    }
    & p {
      font-family: var(--font);
      margin: 5% auto;
      width: 90%;
      text-align: justify;
    }
    & picture {
      display: block;
      width: 80%;
    height: 12rem;
    background-color: rgb(204, 204, 204);
    margin: 0 auto;
    border-radius: 15px;
    }
    & div {
      display: flex;
      flex-wrap: wrap;
    & button, a {
    cursor: pointer;
    padding: 5px;
    align-content: center;
    width: 11rem;
    height: 3em;
    background-color: var(--button);
    color: white;
    font-family: var(--font);
    font-weight: bold;
    border-radius: 20px;
    border: none;
    margin: 2% auto;
  }
    }
  }
}